<nav class="menu" id="nav">
	<span class="nav-item active">
		<span class="icon">
			<i data-feather="home"></i>
		</span>
		<a href="">Home</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<i data-feather="search"></i>
		</span>
		<a href="">Search</a>
	</span>
  <span class="nav-item">
		<span class="icon">
			<i data-feather="search"></i>
		</span>
		<a href="/profile">Profile</a>
	</span>
  <span class="nav-item">
		<span class="icon">
			<i data-feather="search"></i>
		</span>
		<a href="">Change password</a>
	</span>

	<span class="nav-item">
		<span class="icon">
			<span class="subicon">13</span>
			<i data-feather="bell"></i>
		</span>
		<a href="">Notifications</a>
	</span>
  <span class="nav-item">
		<span class="icon">
			<span class="subicon">13</span>
			<i data-feather="bell"></i>
		</span>
		<a href="">Reservation</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<i data-feather="star"></i>
		</span>
		<a href="">Panier</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<i data-feather="bell"></i>
		</span>
    <a class="nav-link" (click)="logout()">logout</a>	</span>
</nav>
